audioread==2.1.9
black
coverage==7.4.4
cylimiter==0.3.0
fast-align-audio==0.3.0
lameenc==1.4.2
librosa==0.10.2
matplotlib>=3.0.0,<4
numba==0.58.0
numpy==1.24.4
numpy-minmax>=0.3.0,<1
numpy-rms>=0.4.2,<1
pydub==0.25.1
pyloudnorm==0.1.1
pyroomacoustics==0.7.3
pytest==7.4.4
pytest-cov==5.0.0
python-stretch==0.3.1
scipy>=1.4,<1.13
soxr==0.3.5
tqdm==4.66.3
twine
